<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--Beans for car's tyres -->
    <bean id="normalTyre" class="com.cardeal.project.modified.NormalTyre"></bean>
    <bean id="sportsTyre" class="com.cardeal.project.modified.SportsTyre"></bean>
    <bean id="heavyTyre" class="com.cardeal.project.modified.HeavyTyre"></bean>

<!--    ef="normalsporty";-->
<!--    }else{-->
<!--    beanref="normalCars";-->
<bean id="normalsporty" class="com.cardeal.project.mycars.NormalCars">
    <constructor-arg ref="sportsTyre"></constructor-arg>
</bean>
<!--beans for car -->
    <bean id="normalCars" class="com.cardeal.project.mycars.NormalCars">
        <constructor-arg ref="normalTyre"></constructor-arg>
    </bean>

    <bean id="sportsCar" class="com.cardeal.project.mycars.SportsCar">
        <constructor-arg ref="sportsTyre"></constructor-arg>
    </bean>
    <bean id="truck" class="com.cardeal.project.mycars.Truck">
        <constructor-arg ref="heavyTyre"></constructor-arg>
    </bean>




</beans>